.glyph {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
}
.row {
  clear: both;
}
.buttons, .messages {
  clear:both;
}
.glyph {
  background-color: #bbb;
  padding: 1px;
}
.visible {
  background-color: #fff;
}
.player1 {
  color: #c00;
}
.player2 {
  color: #00c;
}
.player1-target {
  padding: 0px;
  border: 1px solid #c00;
}
.player2-target {
  padding: 0px;
  border: 1px solid #00c;
}
